.zm-body {
  margin:2.5% 10%;
  padding: 1.5% 5%;
  font-family:Open Sans,Tahoma,Verdana,sans-serif;
  background-color:#eeeeee;
}

.zm-header {
  text-transform: uppercase;
  font-size:20pt;
  padding-bottom: 1%;
  letter-spacing: 5px;
}

.zm-text-block {
  font-size:12pt; 
  line-height:1.75em;
}

.zm-text-block a{
  color:#ffae00; 
  text-decoration:none;
  border-bottom: 2px dotted #333;
}

.zm-button-panel {
  width: 100%;
  text-decoration:none;
}

.zm-raw {
  width: 100%;
  overflow:hidden;
  text-align: center;
}

.zm-raw div {
  display:inline-block;
}

.zm-button-container {
  width: 40%;
  border: 1px solid #333;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 10px 5px 0px;
  white-space:nowrap;
  text-align: center;
  overflow:hidden;
}

.zm-button-container:hover {
  background-color:#ffae00;
}

.zm-button-container a {
  text-decoration: none;
  text-transform: uppercase;
  color:#333;
  letter-spacing: 5px;
}